In [1]:
import pandas as pd
import numpy as np

In [2]:
house_data = pd.read_csv("C:\\Users\\Vedika\\Desktop\\ML\\sklearn\\kc_house_data.csv")

In [3]:
house_data

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,...,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,...,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,...,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,...,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,...,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [4]:
house_data['yr_renovated'].unique()

array([   0, 1991, 2002, 2010, 1999, 1992, 2013, 1994, 1978, 2005, 2008,
       2003, 1984, 1954, 2014, 2011, 1974, 1983, 1945, 1990, 1988, 1957,
       1977, 1981, 1995, 2000, 1998, 1970, 1989, 2004, 1986, 2009, 2007,
       1987, 1973, 2006, 1985, 2001, 1980, 1971, 1979, 1997, 1950, 1969,
       1948, 2015, 1968, 2012, 1963, 1951, 1993, 1962, 1996, 1972, 1953,
       1955, 1982, 1956, 1940, 1976, 1946, 1975, 1958, 1964, 1959, 1960,
       1967, 1965, 1934, 1944], dtype=int64)

In [5]:
house_data.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [6]:
house_data.isna().sum()

id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

In [7]:
house_data.drop(columns=['id','date','waterfront','view','condition','grade','sqft_above','sqft_basement','yr_renovated','lat','long','sqft_living15','sqft_lot15'],inplace=True)

In [8]:
house_data.describe()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,yr_built,zipcode
count,2.161300e+04,21613.000000,21613.000000,21613.000000,2.161300e+04,21613.000000,21613.000000,21613.000000
mean,5.400881e+05,3.370842,2.114757,2079.899736,1.510697e+04,1.494309,1971.005136,98077.939805
std,3.671272e+05,0.930062,0.770163,918.440897,4.142051e+04,0.539989,29.373411,53.505026
min,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,1900.000000,98001.000000
25%,3.219500e+05,3.000000,1.750000,1427.000000,5.040000e+03,1.000000,1951.000000,98033.000000
50%,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,1975.000000,98065.000000
75%,6.450000e+05,4.000000,2.500000,2550.000000,1.068800e+04,2.000000,1997.000000,98118.000000
max,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,2015.000000,98199.000000

In [9]:
house_data['bedrooms'].value_counts()

bedrooms
3     9824
4     6882
2     2760
5     1601
6      272
1      199
7       38
0       13
8       13
9        6
10       3
11       1
33       1
Name: count, dtype: int64

In [10]:
house_data = house_data[house_data['bedrooms']<33]

In [11]:
house_data['bedrooms'].value_counts()

bedrooms
3     9824
4     6882
2     2760
5     1601
6      272
1      199
7       38
0       13
8       13
9        6
10       3
11       1
Name: count, dtype: int64

In [12]:
house_data

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,yr_built,zipcode
0,221900.0,3,1.00,1180,5650,1.0,1955,98178
1,538000.0,3,2.25,2570,7242,2.0,1951,98125
2,180000.0,2,1.00,770,10000,1.0,1933,98028
3,604000.0,4,3.00,1960,5000,1.0,1965,98136
4,510000.0,3,2.00,1680,8080,1.0,1987,98074
...,...,...,...,...,...,...,...,...
21608,360000.0,3,2.50,1530,1131,3.0,2009,98103
21609,400000.0,4,2.50,2310,5813,2.0,2014,98146
21610,402101.0,2,0.75,1020,1350,2.0,2009,98144
21611,400000.0,3,2.50,1600,2388,2.0,2004,98027
21612,325000.0,2,0.75,1020,1076,2.0,2008,98144

In [13]:
house_data['bathrooms'] = round(house_data['bathrooms'])

C:\Users\Vedika\AppData\Local\Temp\ipykernel_16016\183799761.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  house_data['bathrooms'] = round(house_data['bathrooms'])

In [14]:
house_data

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,yr_built,zipcode
0,221900.0,3,1.0,1180,5650,1.0,1955,98178
1,538000.0,3,2.0,2570,7242,2.0,1951,98125
2,180000.0,2,1.0,770,10000,1.0,1933,98028
3,604000.0,4,3.0,1960,5000,1.0,1965,98136
4,510000.0,3,2.0,1680,8080,1.0,1987,98074
...,...,...,...,...,...,...,...,...
21608,360000.0,3,2.0,1530,1131,3.0,2009,98103
21609,400000.0,4,2.0,2310,5813,2.0,2014,98146
21610,402101.0,2,1.0,1020,1350,2.0,2009,98144
21611,400000.0,3,2.0,1600,2388,2.0,2004,98027
21612,325000.0,2,1.0,1020,1076,2.0,2008,98144

In [36]:
house_data['yr_built'].value_counts()

yr_built
2014    559
2006    454
2005    450
2004    433
2003    422
       ...
1933     30
1901     29
1902     27
1935     24
1934     21
Name: count, Length: 116, dtype: int64

In [37]:
house_data['zipcode'].value_counts()

zipcode
98103    601
98038    590
98115    583
98052    574
98117    553
        ...
98102    105
98010    100
98024     81
98148     57
98039     50
Name: count, Length: 70, dtype: int64

In [38]:
(house_data['sqft_lot']/ house_data['bedrooms']).describe()

c:\Users\Vedika\Desktop\ML\sklearn\.venv\Lib\site-packages\pandas\core\nanops.py:1010: RuntimeWarning: invalid value encountered in subtract
  sqr = _ensure_numeric((avg - values) ** 2)

count    21612.000
mean           inf
std            NaN
min        130.000
25%       1520.150
50%       2349.125
75%       3375.000
max            inf
dtype: float64

In [39]:
house_data['sqft_lot'].value_counts()

sqft_lot
5000     358
6000     289
4000     251
7200     220
4800     120
        ...
25248      1
9934       1
9142       1
24330      1
1076       1
Name: count, Length: 9782, dtype: int64

In [41]:
house_data['sqft_lot'].describe()

count    2.161200e+04
mean     1.510739e+04
std      4.142142e+04
min      5.200000e+02
25%      5.040000e+03
50%      7.619000e+03
75%      1.068825e+04
max      1.651359e+06
Name: sqft_lot, dtype: float64

In [ ]:
house_data = house_data[house_data['sqft_lot']]

In [15]:
house_data.columns

Index(['price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors',
       'yr_built', 'zipcode'],
      dtype='object')

In [16]:
X = house_data[ ['bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors',
       'yr_built']]

In [17]:
y = house_data['price']

In [18]:
from sklearn.model_selection import train_test_split

In [19]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.2 , random_state=1)

In [20]:
from sklearn import linear_model, neighbors, preprocessing
from sklearn.metrics import accuracy_score, r2_score

In [21]:
scaler = preprocessing.StandardScaler().fit(X_train)

In [22]:
standard_X = scaler.transform(X_train)
standard_X_test = scaler.transform(X_test)

In [23]:
lin = linear_model.LinearRegression()

In [24]:
lin.fit(X_train,y_train)

LinearRegression()

In [25]:
lin_y_pred = lin.predict(X_test)

In [26]:
r2_score(y_test, lin_y_pred)

0.5745824825687809

In [27]:
standard_lin = linear_model.LinearRegression()

In [28]:
standard_lin.fit(standard_X, y_train)

LinearRegression()

In [29]:
stand_lin_y_pred = standard_lin.predict(standard_X_test)

In [30]:
r2_score(y_test, stand_lin_y_pred)

0.5745824825687719

In [31]:
knn = neighbors.KNeighborsClassifier(n_neighbors= 5)
knn.fit(standard_X,y_train)
knn_y_pred = knn.predict(standard_X_test)
accuracy_score(y_test,knn_y_pred)

0.005551700208188758

In [32]:
from sklearn.svm import SVR

In [33]:
svr = SVR(kernel='linear')
svr.fit(standard_X,y_train)
svr_y_pred = svr.predict(standard_X_test)
r2_score(y_test , svr_y_pred)

0.0050156531581526664

In [34]:
from sklearn.metrics import mean_absolute_error

In [35]:
mean_absolute_error(y_test,svr_y_pred)

219070.8605076369